.afficheFilm{
    height: 452px;
}

.rating{
    text-align: center;
    margin-left: 0px;
    margin-bottom: 50px;
}


.poster {
    margin-top: 100px;
display: flex;
align-items: center;
}

.left-image {
width: 50%;
border-radius: 10px;
/* filter: drop-shadow(0 0 0.75rem rgb(20, 170, 220)); */
}

.details {
width: 50%;
padding: 20px;
text-align: left;
}
.resume{
    margin-right: 100px;
    text-align: justify;
    margin-left: 100px;
}

.container {
    margin-top: 40px;
    display: flex;
    align-items: center; /* Alignement vertical des éléments */
    }
.boutoncoeur{
    margin-right: 20px;
}

.boutonplus{
    margin-right: 20px;
    align-items: center
}

.boutonrate{
    text-align: center;
}

.petit-titre{
    font-family: century;
    font-weight: 700;
    color: white;
    font-size: larger;
}