.Header-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 5px;
  font-size: calc(10px + 2vmin);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 998;
  background-color: black;
  border-radius: 10px;
}

.Header-container > :not(:last-child) {
  margin-right: 20px;
  margin-left: 20px;
  font-family: century;
}

.Link {
  font-weight: 700;
  color: white;
  text-decoration: none;
  font-family: century;
  margin-top: 20px;
}

.logo {
  width: 50px;
  height: 50px;
}
